.jumbotron
{

background-image:url('/images/max.jpg');
background-repeat: no-repeat;
background-size:cover;
color:white;

}
.dotnet
{
    font-size:30px;
    color:#FFFFFF;

}
.line1
{
    font-size:19px;

}
#btn
{
border: 2px solid black;
width:120px;
height:50px;
text-decoration:none;
padding-top:18px;
color:black;
font-size:12px;
}

#btn:hover
{
background:black;
color:white;
}
.blk
{
border: 2px solid #2C3539;
color:#2C3539;
}

#line
{
width: 100%;
   text-align: center;
   border-bottom: 1px solid #000;
   line-height: 0.1em;
   margin: 10px 0 10px;
}

#line1
{
background:#fff;
    padding:0 10px;
font-family:"Roboto";
}

.panel
{
    padding: 0;
    margin-bottom: 50px;
    display: block;
    list-style-type: none;
    text-align: center;
    overflow: hidden;
}
.freecode{
float:left;
width:50%;
}
.master{
float:right;
width:50%;
}


.contri{
width:150px;
}
.contri1 {
    width: 50px;
}
.icon {
    width: 100%;
    height:40px;
    background-color: white;


}

.icon a {
    float: left;
    width: 20%;
    text-align: center;
    padding-left: 12px 0;
    color: black;
    font-size: 36px;
      margin-bottom:0;
}
.icon a:hover {
    background-color: lightblue;
}

.blackimage {
    background-image: url('/Images/images12.jpg');
    background-size:cover;
    background-position: center center;
    color:white;
    text-align:center;


}
.light{
text-align:center;
    width: 100%;
    background:#FFF;
    color: #3d3d3d;
}
body{
    overflow-x:hidden;

}
.niki {
    width :80px;
     height: 80px;
}
h3
{
    font-family:Arial;
}



@media screen and (min-width: 48em){
    .line1{
        text-align: justify;
    }
}

